<div id ="movie">
  <div class="category" data-index="0">
    <div class = "category__name" data-index="0">
      <p>Name of Category :</p>
      <label> 
        <input type="text" class="category__name__text">
      </label>
    </div>

    <div class = "upload-container">
      <div class = "movie-box" >
        <div class="js-file_group">
          <label data-index="0" class="movie-upload">
            <input type="file" class="js-file" style="visibility: hidden" accept="video/*">
            <p class="icon"><i class="fas fa-camera fa-3x"></i></p>
            <p>click</p>
          </label>
        </div>
      </div>
    </div>

  </div>
  <div id="category_plus">Add a new category</div>   
</div>