* {
  box-sizing: border-box;
}

main{
  width: 100vw;
  margin: 65px auto 88px;
  #gallery{
    width: 100%;
    height: 100vh;
    .mainSwiper{
      height: 70%;
      padding-bottom: 50px;
      .swiper-slide {
        height: 100%;
        width: auto;
        // トリミングの比率によって要計算 (画像の高さ / 画像の横幅) × 100
        background-repeat: no-repeat;
        background-position: center;
        // containは全体表示対応、coverはトリミング対応
        background-size: contain;
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1;
      }
      .swiper-slide-active {
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1;
      }
    }
    .thumbnail {
      width: 50vw;
      height: 20%;
      align-content: center;
      .swiper-slide {
        background-position: center;
        width: 100px;
        height: 100px;
        background-size: cover;
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
        opacity: 0.7;
      }
      .swiper-slide-active {
        background-position: center;
        width: 100px;
        height: 100px;
        background-size: cover;
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1;
      }
    }
  }
  #categories{
    display: flex;
    justify-content: space-between;
    height: 65px;
    li{
      padding: 10px 10px;
      cursor: pointer;
    }
    li:hover{
      background-color: greenyellow;
    }
  }
}
