<% content_for :css do %>
  <%= stylesheet_link_tag 'public/designs', media: "all", "data-turbolinks-track": "reload" %>
<% end %>

<main>
  <div class="container">
    <img id = "filter" src ="https://photo-studio9.com/wp-content/uploads/2012/06/white.png">
      <video id="myVideo" data-depth="50">
        <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/ink4.mp4" type="video/mp4">
      </video>

     <div class="bg-slider">
      <%= link_to "",  new_user_customer_path, class: "bg-slider__title"%>
        <p>Wellcome</p>
      <button class="button">ENTER</button> 
    </div>
  </div>
</main>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<%= javascript_include_tag 'public/designs/jquery.bgswitcher.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'public/designs.js', 'data-turbolinks-track': 'reload' %>