<%= render "public/public"%>

<main>
  <%= image_tag  src = "", class: "top-backgroud-image", id: "main" %>
    <nav>
      <ul>
        <li id="play">Play</li>
        <li id="prev">&lt;</li>
        <li id="next">&gt;</li>
      </ul>
    </nav>
        <ul class="thumbnails">
        </ul> 
  </main>

<%= javascript_include_tag 'public/designs.js', 'data-turbolinks-track': 'reload' %>