<%= render "admin/admin"%>
<% @designs.each do |design| %>
  <%= image_tag  "#{design.image.url}" %>
<% end %>

design_admin_new
<div class="contents row">
  <div class="container">
    <%= form_with model:[:admin, @user, @design] do |form| %>
      <h3>
        投稿する
      </h3>
      <%= render partial: "form", locals: {form: form} %>
    <% end %>
  </div>
</div>