@import "loading";

* {
  box-sizing: border-box;
}

.category{
  width: 100%;
  border: solid 5px #333;
  padding: 20px 30px;
  margin-bottom: 20px;
  //category name
  &__name{
    display: flex;
    justify-content: left;
    border-bottom: solid 3px black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    p{
      margin-right: 5px;
    }
  }
  //category picture
  .upload-container{
    .movie-box{  
      .js-file_group {
        flex-wrap: wrap;
        width: 100%;
        // height: 150px;
        display: flex;
        justify-content: left;
        .video{
          margin-right: 15px;
          margin-bottom: 15px;
          .preview{
            width: 300px;
            &__change {
              height: 51px; //includig border 1px
              line-height: 40px;
              border-top: #cccccc 1px solid;
              text-align: center;
              display: flex;
              font-size: 12px;
              padding-top: 10px;
              &__upload{
                width: calc(100% / 3);
                background-color: blue;
              }
              &__edit{
                width: calc(100% / 3);
                background-color: white; 
              }
              &__delete{
                width: calc(100% / 3);
                background-color: red; 
              }
            }
          }
        }
        .movie-upload{
          width: 300px;
          height: 255px; //same as video
          background-color: #cccccc;
          cursor: pointer;
          .icon{
            margin-top: 73.5px;
          }
          p{
            text-align: center;
          }
        }
      }
    }
  }
}

#category_plus{
  height: 50px;
  background-color: #cccccc;
  border: solid 5px #333;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

//送信ボタン
.submit{
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background: #cccccc;/*ボタン色*/
  color: #333;
  border-bottom: solid 2px #333;
  border-radius: 3px;
  cursor: pointer;
}
.submit:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}

.popup.is-show{
  opacity: 1;
  visibility: visible;
  .popup-inner, .confirm-delete-popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      i {
        font-size: 20px;
        color: #333;
      }
      img {
        width: 100%;
      }
    }
  }
  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }
}