<%= render "public/public"%>
<% content_for :css do %>
  <%= stylesheet_link_tag 'public/movie_categories', media: "all", "data-turbolinks-track": "reload"%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css">
<% end %>

<main>
  <div id="movie">
    <div class="swiper-container mainSwiper">
      <div class="swiper-wrapper">
      </div>
      <div class="swiper-pagination"></div>
    </div>

  <div id ="movie_categories">
    <ul id ="categories" >
    </ul>
  </div>
</main>

<footer>
  <div>
    <p class="copyright">© <%= @user.name %>Photographer Co., Ltd. -Prohibited using all pictures without pemittion</p>
    <p>portfolio_created by eiki.</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script>
<%= javascript_include_tag 'public/movie_categories.js', 'data-turbolinks-track': 'reload' %>