<div id ="gallery">
  <div class="category" data-index="0">
    <div class = "category__name" data-index="0">
      <p>Name of Category :</p>
      <label> 
        <input type="text" class="category__name__text" name="gallery_categories[name][]">
      </label>
    </div>
    
    <div class = "upload-container">
      <div class = "image-box" >
        <div class="js-file_group">
          <label data-index="0" class="image-upload">
            <input type="file" class="js-file" multiple="multiple" style="visibility: hidden">
            <p><i class="fas fa-camera fa-3x"></i></p>
            <p>Drag and Drop<br>or click</p>
          </label>
        </div>
      </div>
    </div>

  </div>
  <div id="category_plus">Add a new category</div>
</div>